@{
    ViewBag.Title = "Pagina Principal";
}

<div class="borde">
    <a href="/Home/StartBuy" onclick="showLoading()">
        <video muted autoplay="autoplay" src="~/Content/TestVideos/PruebaBubbles2.mp4" typeof="mp4" loop="loop"></video>
        <h2 class="titleVideo">TOCA PARA COMENZAR LA COMPRA</h2>
    </a>
</div>
